.resultConteiner{
    width: 260px;
    height: 292px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #FFFFFF;
    border-radius: 16px;
    box-shadow: 0px 3px 12px rgba(0, 0, 0, 0.2);
}

.conteinerDop{
    margin-top: 34px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.conteinerDop p{
    color: #000000;
    font-family: "Inter", sans-serif;
    font-size: 24px;
}

.infoText{
    margin-top: 30px;
    width: 180px;
    height: 93px;
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.resultProductPrice{
    width: 180px;
    height: 19px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.resultProductPrice{
    color: #000000;
    font-family: "Inter", sans-serif;
}

