.InfoContainer{
   height: 566px;
   gap: 40px;
   display: flex;
}

.BookInfo{
   width: 460px;
}


.descriptionConteiner{
   margin-bottom: 40px;
}

.descriptionName{
   font-size: 28px;
   font-weight: 500;
   font-family: "Inter", sans-serif;
   margin-bottom: 15px;
}

.description{
   font-size: 16px;
   font-family: "Inter", sans-serif;
   font-weight: 400;
   line-height: 22px;
}

.mainInfo{
   display: flex;
   height: 100px; 
   gap: 67px;
   white-space: nowrap;
}

.attributeName p {
   height: 22px;
   font-size: 16px;
   font-family: "Inter", sans-serif;
   font-weight: 600;
   color: #777777;
   margin-bottom: 4px;
}

.attributeName p:last-child {
   margin-bottom: 0;
}

.attributeValue p {
   height: 22px;
   font-size: 16px;
   font-family: "Inter", sans-serif;
   font-weight: 600;
   color: #777777;
   margin-bottom: 4px;
   color: #5D3C64;
}

.attributeValue p:last-child {
   margin-bottom: 0;
}

.BookPriceStatusContainer{
   height: 168px;
   width: 260px;
   border: 1px solid #9B9898;
   background-color: white;
}

.BookPriceBasketContainer{
   margin: 20px;
   margin-bottom: 0;
   height: 90px;
}

.BookPriceContainer{
   display: flex;
   align-items: center;
   height: 24px;
   margin-bottom: 7px;
}

.BookPriceContainer p{
   font-family: "Inter", sans-serif;
   margin: 0;
   font-size: 20px;
}

.basketButton{
   cursor: pointer;
   background-color: #5D3C64;
   width: 100%;
   height: 49px;
   border-radius: 8px;
   color: white;
   font-family: "Inter", sans-serif;
   font-size: 24px;
   border: none;
}

.basketButtonDisabled{
   background-color: #5d5160;
   width: 100%;
   height: 49px;
   border-radius: 8px;
   color: white;
   font-family: "Inter", sans-serif;
   font-size: 24px;
   border: none;
}

.Stock{
   margin-top: 20px;
   margin-left: 20px;
   font-family: "Inter", sans-serif;
   font-size: 15px;
   font-weight: 400;
}

  .ButtonContainer{
   margin-top: 4px;
   display: flex;
   width: 100%;
   height: 78px;
   flex-direction: column; 
 }
 

 .EditBook{
   position: relative;
   color: white;
   font-size: 18px;
   font-family: "Inter", sans-serif;
   width: 100%;
   height: 37px;
   border: none;
   border-radius: 10px;
   background-color: #5D3C64;
   cursor: pointer;
   text-align: left;
   padding-left: 9px;
   margin-bottom: 4px;
 }

 .EditBook::before {
   content: '';
   background-image: url('edit.svg');
   background-repeat: no-repeat;
   position: absolute;
   top: 50%;
   right: 6px;
   transform: translateY(-50%);
   width: 18px; 
   height: 18px;
   color: white;
 }

 .Trash{
   position: relative;
   color: white;
   font-size: 18px;
   font-family: "Inter", sans-serif;
   width: 100%;
   height: 37px;
   border: none;
   border-radius: 10px;
   background-color: #5D3C64;
   cursor: pointer;
   text-align: left;
   padding-left: 9px;
   font-size: 18px;
 }

 .Trash::before {
   content: '';
   background-image: url('trash.svg');
   background-repeat: no-repeat;
   position: absolute;
   transform: translateY(-10%);
   width: 22px; 
   height: 22px;
   color: white;
   right: 6px;
 }

