.rectangle0{
    width: 94px;
    height: 30px;
    display: flex;
    flex-direction: row;
    border: 1px solid #777777;
    background-color: white;
    border-radius: 8px;
    justify-content: space-between;

}

.rectangleAdd{
    width: 23.5px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-color: #FFFFFF;
    border: none;
    outline: none;
}

.NumberProducts{
    width: 47px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 1px solid #777777;
    border-left: 1px solid #777777;
}

.NumberProducts p{
    font-family: "Inter", sans-serif;
    font-size: 14px;
}

.rectangleMinus{
    width: 23.5px;
    /* border-left: 1px solid #777777; */
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-color: #FFFFFF;
    border: none;
    outline: none;
}