.buttonPlaceOrder{
    width: 180px;
    height: 35px;
    background-color: #5D3C64;
    place-items: center;
    border: none;
    border-radius: 12px;
    margin-top: 36px;
    cursor: pointer;
}

.buttonPlaceOrder p{
    color: #FFFFFF;
    font-family: "Inter", sans-serif;
    font-size: 14px;
    font-weight: 500px;
}