.notific{
    background-color: #d9d9d9;
    justify-content: space-between;
    width: 1230px;
    height: 137px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    padding-left: 32px;
    border-radius: 24px;
}

.frameOrder{
    justify-content: space-between;
    width: 1198px;
    height: 29px;
    display: flex;
}

.Order{
    color: #000;
    font-family: "Inter", sans-serif;
    font-size: 24px;
}

.DateTimeOrder{
    justify-content: space-between;
    width: 174px;
    height: 24px;
    display: flex;
    flex-direction: row;
}

.DateTimeOrder p{
    color: #000;
    font-family: "Inter", sans-serif;
    font-size: 20px;
}

.descriptionNotific{
    color: #000;
    font-family: "Inter", sans-serif;
    font-size: 20px;
}